{% extends 'accounts/index.html' %}
{% block navbar_block %}
<li class="nav-item"><a class="nav-link" href={% url 'login' %}>Login</a></li>
<li class="nav-item"><a class="nav-link" href={% url 'lista_blogs' %}>Blogs</a></li>
{% endblock navbar_block %}

{% block body_block %}
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Quien soy?</h1>
            <p class="lead">Para saber mas de mi, presiona el siguiente botón</p>
            <a class="btn btn-lg btn-light" href="#about">Sobre mi</a>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Presentación de su anfitrión</h2>
                    <p class="lead">Un gusto tenerlos por acá, mi nombre es Pablo García, tengo 25 años y estudio abogacía. Entonces, como terminé acá? 
                        Hace algunos años que la programación empezó a llamar mi atención, pero lo veía como algo lejano, dificil, cosa de pocos. 
                        Pero obviamente, al igual que cualquier carrera es algo que estudiando y practicando se puede aprender, y así fue que gracias al 
                        interés mutuo que compartimos con un amigo nos motivamos y decidimos empezar a aprender. Averiguamos sobre distintos cursos y finalmente 
                        nos anotamos en este, que es el primero, pero no el último, ya que al descubrir que si era posible aprender a programar mi interés va en 
                        aumento y espero aplicarlo en mi futuro trabajo, o trabajar como programador, mas allá que me parece un conocimiento básico en estos tiempos donde la 
                        informática está en casi todos lados, y va a seguir expandiéndose. 
                    </p>
                    <p class="lead">
                        Ahora los dejo para que prueben mi web, aunque simple, representa un gran avance.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock body_block %}