{% extends 'accounts/index.html' %}


{% block body_block %}
 <!-- Header--> 
    <header class="bg-primary bg-gradient text-white">
        <a class="btn btn-lg btn-light" href={% url 'lista_blogs' %}>Atras</a>
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <input type="submit" placeholder = 'Enviar'>
        </form>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">           
         <div class="col-lg-8">                   
                 </div>                          
        </div>
    </section>
    {% endblock body_block %}
    

