{% extends 'accounts/index.html' %}


{% block body_block %}
 <!-- Header--> 
    <header class="bg-primary bg-gradient text-white">     
        
        
        
        <p>
            <a class="btn btn-lg btn-light" href={% url 'lista_blogs' %}>Atras</a>
        </p>
        
        <p>
            <li>Titulo: {{object.titulo}}</li>
            <li>Subtitulo: {{object.subtitulo}}</li>
            <li>Cuerpo: {{object.cuerpo | safe }}</li>
            <li>Autor: {{object.autor}}</li>
            <li>Fecha de creación: {{object.fecha}}</li> 
            {% comment %} <li>Imagen:{% if object.imagen %} {% endcomment %}
                {% comment %} <img src="{{object.imagen.url}}" width="300" height = "200" ></li>  {% endcomment %}
                    {% comment %} {% else %}
                    {% endif %} {% endcomment %}
        </p>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">           
         <div class="col-lg-8">                   
                 </div>                          
        </div>
    </section>
    {% endblock body_block %}
    