{% extends 'accounts/index.html' %}


{% block body_block %}
 <!-- Header--> 
    <header class="bg-primary bg-gradient text-white">
     <p>
         <a class="btn btn-lg btn-light" href={% url 'crear_blog' %}>Nuevo Blog</a>         
         <form action="" method='get'>
             {% csrf_token %}
             <table>
                 {{form.as_table}}
             </table>
             <button>Buscar</button>
         </form>
     </p>
     {% for Blog in object_list %}
     <li>

        
        {{Blog}}
        
       
        <style>
        .button {color: white}
        </style>
        
        <a href={% url 'detalle_blogs' Blog.id %} class = 'button'>  Ver mas</a> 
        <a href= {% url 'actualizar_blog' Blog.id%} class = 'button'> Editar</a>
        <a href= {% url 'borrar_blog' Blog.id%} class = 'button'> Borrar</a>
        
        
     </li>
     {% endfor %}
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">           
         <div class="col-lg-8">                   
                 </div>                          
        </div>
    </section>
    {% endblock body_block %}


